table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.box {
    font-size: 20px;
    border: 2px solid;
    padding: 30px 50px;
    margin: 0 auto 75px;
    width: 10%; /* Set a width to prevent stretching */
    display: flex;
    justify-content: center; /* Aligns child horizontally */
    align-items: center;    /* Aligns child vertically */
}